{% extends "base.html" %}

{% block title %}About Me{% endblock title %}

{% block content %}

    <section class="picture-body2">   
    </section>

    <section class="about-body">
    <section class="about-title">
        <h1>About Mr.Basave</h1>
    </section>
    <section class="about-description">
        <p>
            This website is to showcase the wonderful photography skills of my good friend Jonathan. He is a great man whom I grew up with in the small city of El Paso. Jonathan Basave has always had a passion for capturing moments that allow friends and viewers to feel certain emotions. I have been fortunate enough to enjoy his art and hope you all enjoy as well.
        </p>
    </section>

    </section>

{% endblock content %}